@import './vars.scss';
@import './mixins.scss';

.button-base{
    @include button-base(yellow,black,120px);
    border-color: olive;
}

.button-stylish{
    @extend .button-base;
    border-color: yellow;
    background-color: olive;
}

.button-stylish1{
    @extend .button-stylish;
    box-shadow: 0 0 10px 10px gray;
}

