$width-glob: 1200px;

$font-size-glob: 14px;
$font-family-glob: "Avenir", Helvetica, Arial, sans-serif;
$line-height-glob: 1.15; // same as normalize.css

$border-color-normal: #000;
$border-radius-normal: 4px;